# --- MySQL Database ---
DB_USERNAME=
DB_PASSWORD=

# --- RabbitMQ ---
RABBIT_HOST=
RABBIT_PORT=
RABBIT_USER=
RABBIT_PASSWORD=

# --- SMTP (Gmail) ---
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
